---
layout: default
---


<!-- Banner -->
<section id="banner">
  <div class="diagonal">
    <i class="icon-mark"></i>
    <div class="banner__header">
      <h2 class="hidden-text">Philly Pinball Club</h2>
      <div class="logo">
        <img src="images/logo.svg" alt="">
      </div>
      <h3>A city-wide pinball league in Philadelphia, PA</h3>
    </div>
{% include header.html %}
  </div>
</section>


<div class="wrapper style1" style="padding-bottom: 0;">
  <section class="container">

    {% comment %}
      <div class="row">
        <div class="12u">
          {% include alert.html %}
        </div>
      </div>
    {% endcomment %}

    <div class="row">
      <div class="4u 12u(narrower)">
        <section class="special">
          <a href="#" class="image fit"><img src="images/barcadelogo.jpg" alt="" /></a>
          <h3>Location</h3>
          <p><strong>Mondays</strong> at <a href="http://www.barcadephiladelphia.com/">Barcade</a> in Fishtown, a block from SEPTA Girard Station. Join the <a href="#contact">mailing list</a> and we'll keep you posted!</p>
        </section>
      </div>
      <div class="4u 12u(narrower)">
        <section class="special">
          <a href="#" class="image fit"><img src="images/pabstcc.jpg" alt="" /></a>
          <h3>Summer Dates</h3>
          <p>The Summer season starts <strong>July 9th</strong> and runs for <strong>8 weeks</strong>, with a final tournament on <strong>September 3rd</strong>. Join at any time throughout the season.</p>
        </section>
      </div>
      <div class="4u 12u(narrower)">
        <section class="special">
          <a href="#" class="image fit"><img src="images/trophy.jpg" alt="" /></a>
          <h3>Prizes</h3>
          <p>Every member has a chance to win cash and prizes! If you've paid your <strong>$20 dues</strong> you're eligible to play in the final tournament.</p>
        </section>
      </div>
    </div>
  </section>
</div>

<!-- One -->
<div class="wrapper style1 style4">
  <section id="season-details" class="container 75%">
    <header class="major">
      <h2>Season Details</h2>
    </header>
    <div class="box">
      <h3>How to Join</h3>
      <p>Show up at the venue during league night! We start playing at 7:30pm, and you can sign up on the spot, at any point in the season.</p>
      <p>Philly Pinball Club is a an IFPA-approved league, which means every member will also earn points towards their international pinball world ranking!</p>
    </div>
    <div class="box">
      <h3>Schedule</h3>
      <p>Our Summer season runs for <strong>8 weeks</strong> and begins on <strong>July 9th</strong>.</p>

      <p>No venue-hopping this time around, we're changing it up and moving to weekly meetups on <strong>Monday nights</strong> at <strong>Barcade</strong> in Fishtown.</p>

      <p>Every Monday at 7:30pm we'll be playing for points in our standard match-play format (more on that <a href="#format">here</a>). In addition to league points, our final tournament will be structured as a separate IFPA event and open to everyone who has paid league dues.
      </p>

      <p>Feel free to bring friends and guests to any of our league nights — they'll always get to play for free their first time around.</p>

      <h4>Dates</h4>
      <p>
        <strong>Jul 9:</strong> League Night at Barcade, 7:30pm</br></br>
        <strong>Jul 16:</strong> League Night at Barcade, 7:30pm</br></br>
        <strong>Jul 23:</strong> League Night at Barcade, 7:30pm</br></br>
        <strong>Jul 30:</strong> League Night at Barcade, 7:30pm</br></br>
        <strong>Aug 6:</strong> League Night at Barcade, 7:30pm</br></br>
        <strong>Aug 13:</strong> League Night at Barcade, 7:30pm</br></br>
        <strong>Aug 20:</strong> League Night at Barcade, 7:30pm</br></br>
        <strong>Aug 27:</strong> League Night at Barcade, 7:30pm</br></br>
        <strong>Sep 4:</strong> <em>Finals</em> at Barcade, 7:30pm</br>
    </div>
    <div class="box">
      <h3>Final Tournament</h3>
      <p>If you're a PPC member, you're automatically qualified for the end-of-season tournament. Your scores during the regular season will qualify you for A or B Division where you’ll face players of similar skills in the finals.</p>
      <p>Cash and prizes are given for the top finishers in both divisions.</p>
    </div>
    <div id="format" class="box">
      <h3>Meeting Format</h3>
      <p>Our meetings are <em>Match Play</em>, where players will compete against one another in groups of 4. You'll be randomly assigned a group for the night, and will accumulate points based on where you finish in each game (1st through 4th). We'll use those points to calculate your position in the season's Standings, which will determine the Division and seed position you'll play in for the Finals.</p>

    </div>
  </section>
</div>

<!-- Two -->
<div class="wrapper style1">
  <section id="about" class="container 75%">
    <header class="major">
      <h2>About the PPC</h2>
    </header>
    <div class="box">
      <h3>Mission</h3>
      <p>The PPC is a club for <em>everyone</em>.
      All skill levels are welcome, but we are specifically interested in finding and fostering brand new players, as well as committing to an inclusive and respectful environment.</p>
      <p>Competition is involved, but we are most focused on providing fun, camaraderie, and encouragement.</p>
    </div>
    <div class="box">
      <h3>Venue</h3>
      <p>We meet at <a href="http://www.barcadephiladelphia.com/">Barcade</a> in Fishtown, just a block from the SEPTA Girard Station on the MFL.</p>
    </div>
    <div class="box">
      <h3>Cost</h3>
      <p>Each season costs $20 to participate. League dues go towards overhead costs, awards, and tournament prizes.</p>
      <p>Players are also responsible for the cost of games played during league nights (usually around $5). Support your local operators!</p>
      <p>Potential new members and visitors can always play free on their first night.</p>
    </div>
  </section>
</div>

<!-- Four -->
<div class="wrapper style1">
  <section id="contact" class="container 75%">
    <header class="major">
      <h2>Contact</h2>
    </header>
    <div class="box">
      <p>Write to us at <a mailto="info@phillypinball.club">info@phillypinball.club</a> or subscribe to our mailing list below.</p>
      <p>Signing up for our mailing list is the best way to keep posted on all PPC activities. We send out announcements, updates, and league night reminders throughout each season.</p>
        <div id="mc_embed_signup" class="mailing-list">
          <form action="//club.us15.list-manage.com/subscribe/post?u=ee08a1a259e16060e6f94ef95&amp;id=74d1a74996" method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" class="validate" target="_blank" novalidate>
              <div id="mc_embed_signup_scroll">
            <h3>Subscribe to our mailing list</h3>

          <div class="mc-field-group">
            <label for="mce-EMAIL">Email Address  <span class="asterisk">*</span>
          </label>
            <input type="email" value="" name="EMAIL" class="required email" id="mce-EMAIL">
          </div>
          <div class="mc-field-group">
            <label for="mce-FNAME">First Name </label>
            <input type="text" value="" name="FNAME" class="" id="mce-FNAME">
          </div>
          <div class="mc-field-group">
            <label for="mce-LNAME">Last Name </label>
            <input type="text" value="" name="LNAME" class="" id="mce-LNAME">
          </div>
          <div class="indicates-required" style="float:right;"><span class="asterisk">*</span> indicates required</div>
            <div id="mce-responses" class="clear">
              <div class="response" id="mce-error-response" style="display:none"></div>
              <div class="response" id="mce-success-response" style="display:none"></div>
            </div>    <!-- real people should not fill this in and expect good things - do not remove this or risk form bot signups-->
              <div style="position: absolute; left: -5000px;" aria-hidden="true"><input type="text" name="b_ee08a1a259e16060e6f94ef95_74d1a74996" tabindex="-1" value=""></div>
              <div class="clear"><input type="submit" value="Subscribe" name="subscribe" id="mc-embedded-subscribe" class="button"></div>
              </div>
          </form>
        </div>

    </div>
  </section>
</div>
