---
layout: default
---

<!-- Banner -->
<section id="banner">
  <div class="diagonal">
    <i class="icon-mark"></i>
    <div class="banner__header">
      <h2 class="hidden-text">Philly Pinball Club</h2>
      <div class="logo">
        <img src="images/logo.svg" alt="">
      </div>
      <h3>A city-wide pinball league in Philadelphia, PA</h3>
    </div>
    {% include header.html %}
  </div>
</section>

<div class="wrapper style1" style="padding-bottom: 0;">
  <section class="container">

    {% comment %}
      <div class="row">
        <div class="12u">
          {% include alert.html %}
        </div>
      </div>
    {% endcomment %}

    <div class="row">
      <div class="4u 12u(narrower)">
        <section class="special">
          <a href="#" class="image fit"><img src="images/barcadelogo.jpg" alt="" /></a>
          <h3>Location</h3>
          <p><strong>Mondays</strong> at <a href="http://www.barcadephiladelphia.com/">Barcade</a> in Fishtown, a block from SEPTA Girard Station. Join the <a href="#contact">mailing list</a> and we'll keep you posted!</p>
        </section>
      </div>
      <div class="4u 12u(narrower)">
        <section class="special">
          <a href="#" class="image fit"><img src="images/pabstcc.jpg" alt="" /></a>
          <h3>Fall Dates</h3>
          <p>The Fall season starts <strong>October 22nd</strong> and runs for <strong>8 weeks</strong>, with a final tournament on <strong>December 17th</strong>. Join at any time throughout the season.</p>
        </section>
      </div>
      <div class="4u 12u(narrower)">
        <section class="special">
          <a href="#" class="image fit"><img src="images/trophy.jpg" alt="" /></a>
          <h3>Prizes</h3>
          <p>Every member has a chance to win cash and prizes! If you've paid your <strong>$20 dues</strong> you're eligible to play in the final tournament.</p>
        </section>
      </div>
    </div>
  </section>
</div>

<div class="wrapper style1">
  <section id="about" class="container 75%">
    <header class="major">
      <h2>About the PPC</h2>
    </header>
    <div class="box">
      <h3>Join the club</h3>
      <p>The PPC is a club for everyone. Whether you're looking for good competition, or just a low key time with some excellent people, we've got you covered.</p>
      <p>We welcome all skill levels, but we're especially interested in finding beginners and folks who are new to the scene. Our members range from brand new players to seasoned competitors, and we're all out to have fun. Come on out and join us!</p>
    </div>
    <div class="box">
      <h3>Venue</h3>
      <p>We meet at <a href="http://www.barcadephiladelphia.com/">Barcade</a> in Fishtown, just a block from the SEPTA Girard Station on the MFL.</p>
    </div>
    <div class="box">
      <h3>Cost</h3>
      <p>League dues for each season are $20, and go towards our overhead costs, awards, and tournament prizes.</p>
      <p>Players are also responsible for the cost of games played during league nights (usually around $5). Support your local operators!</p>
      <p>Potential new members and visitors can always play free on their first night.</p>
    </div>
  </section>
</div>

<!-- One -->
<div class="wrapper style1 style4">
  <section id="season-details" class="container 75%">
    <header class="major">
      <h2>Season Details</h2>
    </header>
    <div class="box">
      <h3>How to Join</h3>
      <p>Show up at the venue during league night! We start playing at 7:30pm, and you can sign up on the spot, at any point in the season.</p>
      <p>Philly Pinball Club is a an IFPA-approved league, which means every member will also earn points towards their international pinball world ranking!</p>
    </div>

    <div id="format" class="box">
      <h3>Meeting Format</h3>
      <p>Each meeting follows a <em>Match Play</em> format, where players compete against one another in groups of 4. You'll be randomly grouped with 3 other people for the night, and your group will play a series of 4 games together.</p>
      <p>Your goal for each game is to beat as many of your group members as possible. In this format, we don't record any actual game scores — instead, you'll earn points based on where you finish in each game (1st through 4th). We'll use those points to calculate your position in the season's <a href="/standings">Standings</a>, which ultimately determines your seed position in the Finals.</p>
      <p>If you've never played competitively (or never played Match Play format), the best thing you can do is show up for league night! We'll always review the rules for any new folks before we get started, and you'll be paired with other members that will be happy to show you the ropes. By the end of the night you'll have the whole thing down.</p>
    </div>

    <div class="box">
      <h3>Schedule</h3>
      <p>Our Fall season runs for <strong>8 weeks</strong> and begins on <strong>October 22nd</strong>.</p>

      <p>During the season we meet <strong>Monday nights</strong> at <strong>Barcade</strong> in Fishtown.</p>

      <p>Every Monday at 7:30pm we'll be playing for points in our standard match-play format (more on that <a href="#format">here</a>). In addition to league points, our final tournament will be structured as a separate IFPA event and open to everyone who has paid league dues.
      </p>

      <p>Feel free to bring friends and guests to any of our league nights — they'll always get to play for free their first time around.</p>

      <p>Full dates for the season are below, which you can also track as <a href="https://www.facebook.com/events/624058467974965/">Facebook events here</a>.</p>

      <h4>Dates</h4>
      <p>
        <strong>Oct 22:</strong> League Night at Barcade, 7:30pm</br></br>
        <strong>Oct 29:</strong> League Night at Barcade, 7:30pm</br></br>
        <strong>Nov 5:</strong> League Night at Barcade, 7:30pm</br></br>
        <strong>Nov 12:</strong> League Night at Barcade, 7:30pm</br></br>
        <strong>Nov 19:</strong> League Night at Barcade, 7:30pm</br></br>
        <strong>Nov 26:</strong> League Night at Barcade, 7:30pm</br></br>
        <strong>Dec 3:</strong> League Night at Barcade, 7:30pm</br></br>
        <strong>Dec 10:</strong> League Night at Barcade, 7:30pm</br></br>
        <strong>Dec 17:</strong> <em>Finals</em> at Barcade, 7:30pm</br>
      <p>

    </div>
    <div class="box">
      <h3>Final Tournament</h3>
      <p>If you're a PPC member, you're automatically qualified for the end-of-season tournament, where we give out cash for the top finishers and ridiculous prizes for everyone. Your scores during the regular season will determine your seeding in the tournament, and the number of strikes you earn will determine whether you end up playing for the A division title or the B division title.</p>
      <p>We'll send out more details as the Finals draw closer, but rest assured — it's the most fun night of the season and not one to miss!</p>
    </div>
  </section>
</div>

<!-- One -->
<div class="wrapper style1 style1">
  <section id="code-of-conduct" class="container 75%">
    <header class="major">
      <h2>Code of Conduct</h2>
    </header>
    <div class="box">

      <p>Philly Pinball Club is committed to providing a welcoming and harassment-
  free environment for participants of all ages, races, gender and trans statuses, sexual
  orientations, physical abilities, physical appearances, and beliefs. We’ve written this
  code of conduct not because we expect bad behavior from our community (which,
  in our experience, is kind and civil) but because we believe a clear code of conduct
  is one necessary part of building a respectful community space.</p>

    <p>PPC participants agree to:</p>

    <ul>
      <li>
        <p>Be considerate in speech and actions, and actively seek to acknowledge and
    respect the boundaries of fellow attendees.</p>
      </li>
      <li>
        <p>Refrain from demeaning, discriminatory, or harassing behavior and speech.
    Harassment includes, but is not limited to: deliberate intimidation; stalking;
    unwanted photography or recording; sustained or willful disruption of
    events; inappropriate physical contact; use of sexual or discriminatory
    imagery, comments, or jokes; and unwelcome sexual attention. If you feel
    that someone has harassed you or otherwise treated you inappropriately,
    please alert any Club Official. Y</p>
      </li>
      <li>
        <p>Take care of each other. Alert a Club Official if you notice a dangerous
    situation, someone in distress, or violations of this code of conduct, even if
    they seem inconsequential.</p>
      </li>
      <li>
        <p>If any participant engages in harassing behavior, the Club Officials may take
    any lawful action we deem appropriate, including but not limited to warning
    the offender or asking the offender to leave the league. (If you feel you have
    been unfairly accused of violating this code of conduct, you should contact
    the Club Officials with a concise description of your grievance; any
    grievances filed will be considered by Club Officials as a group.)</p>
      </li>
      <li>
        <p>This code of conduct covers all PPC events. During league nights, we will publicize a
    contact email, in addition to pointing out the Club Officials so you know who to
    contact if you see or experience an issue. We welcome your feedback on this and
    every other aspect of PPC, and we thank you for working with us to make it a safe,
    enjoyable, and friendly experience for everyone who participates.</p>
      </li>
    </ul>
  </section>
</div>

<div class="wrapper style1 style1">
  <section id="league-rule" class="container 75%">
    <header class="major">
      <h2>League Rules</h2>
    </header>
    <div class="box">
      <h3>1.0 Introduction</h3>
      <p>The Philly Pinball Club (PPC) rules provide a format for running a friendly and fun
league competition for pinball players of all skill levels. These rules are designed for
leagues of any number of players, playing on four or more machines at a single
location. The nature of the league system allows players of all skill levels to play
while being fun and competitive for everyone. Please keep in mind that the primary
goal of PPC is to provide a fun pinball environment.</p>
      <p>The schedule consists of 8 weekly sessions, and a playoff final. ​
A player’s adjusted league score is the total of their six highest session scores. This
allows any player to miss two sessions without impacting their score, while players
who attend all sessions may drop their weakest results. Any missed week receives a
score of zero.</p>
    <p>These rules allow maximum flexibility to fit some competitive pinball in around
    everyone’s schedule.</p>
    <p>Special thanks to the New England Pinball League, Pittsburgh Pinball League, the
    Free State Pinball Association, the IFPA and the Professional and Amateur Pinball
    Association, as these rules are modified from their originals.</p>

    <h4>​1.1 Club Officials</h4>
    <p>Club officials make decisions on rule interpretation. If possible, rulings of
malfunctions or interference should be deferred to an official that is not directly
involved in the game. Club officials collect dues and player information. They are
responsible for starting league nights on time and entering scores into the
scorekeeping site within a reasonable time. At least one Club Official must be
present at each club meeting. Club officials are eligible to play in the league. See
Section 8 for more information about Club officials and their duties.</p>

    <h4>​1.2 Discretion of Club Officials</h4>
    <p>These rules are a guide. At times, situations will arise that aren&#39;t specifically
covered by these rules. In these cases, club officials will make decisions in the spirit
of the rules. These decisions may be documented for later reference and applied
consistently should the situation arise again in the same season.​</p>
  </div>

  <div class="box">
    <h3>​2.0 Attendance</h3>
    <p>Club Officials will set a schedule before league play begins. League players are
encouraged to attend every week, but 100% attendance is not required. In order to
qualify for Finals a player must play at least 4 sessions. ​</p>

    <h4>​2.1 Start Time</h4>
    <p>A specific start time for league will be announced in advance. Any games in progress
by league players at league start time shall be promptly halted. Players are to join
their assigned group and begin league play immediately.</p>

    <h4>​2.2 Tardiness</h4>
    <p>Players who arrive after play has begun may still enter play for the week, providing
there are three-player groups with games left to be played. The tardy player will be
assigned to the group containing the fewest number of players that has the most
games remaining. The tardy player will receive a last-place finish for all missed
games.</p>
    <p>A tardy player may not enter into a game already in progress (the first ball has been
  plunged).</p>

    <h4>​2.3 Early Leaving</h4>
    <p>Players who leave before play has finished will receive a last-place finish for all
missed games.</p>

    <h4>​2.4 Forfeits</h4>
    <p>If a player does not show up to any for league night in a given week, that player will
be given a score of zero for the week. ​</p>

    <h4>​2.5 Inclement Conditions</h4>
    <p>Club Officials may cancel a league night, due to inclement weather or other
conditions, particularly if travel may be unsafe for players. Club Officials are
responsible to notify all players if it is deemed that a league night cannot be held as
scheduled. A makeup date will be scheduled for all players affected.
Extra time may be allotted for tardiness in the event of inclement conditions at Club
Officials’ discretion.</p>
  </div>

  <div class="box">
    <h3>​3.0 Machine Play Rules</h3>
    <h4>​3.1 Machine Play Promptness</h4>
    <p>If a league player does not begin their turn in a reasonable amount of time (two
minutes), other players may plunge the ball for them, and the player may not play
the ball. If a machine has an auto-plunge, and it activates, no other player may
attempt to save the ball.</p>

    <h4>​3.2 Practice Games</h4>
    <p>Once league play starts, a player should not play or practice pinball games. They
should remain with their group. If they must leave they should inform another
player in their group.</p>

    <h4>​3.3 Non-League Players</h4>
    <p>League players do not take precedence over other pinball players. A non-league
player may accidentally play your ball: this is considered a distraction, not
interference or a malfunction. If this happens, regain control of the ball as quickly
and politely as possible. Pay attention to your game and this won’t happen. If a non-
league player is playing on a machine, politely wait for the game to be free.</p>

    <h4>3.4 Rulings</h4>
    <p>Rulings shall be made by Club Officials, which any person(s) designated as officials.
Any designated official or site administrator is excluded from ruling on any play
situation that directly affects their actual or potential standing as a player. Such
persons may also be recused where their decision affects a close friend or family
member, at the discretion of other Club Officials. If a ruling can’t be made from rules
here within, admins can refer to PAPA/IFPA official rules for clarification. The
acting PPC official will always act in the best interest, and in the spirit of pinball.</p>

    <h4>3.5 Extra Balls / Bonus Balls</h4>
    <p>Unless otherwise announced, players may play one extra ball per game.
    Any additional earned extra ball will be plunged, not played. When a player plungess
    an extra ball, they may touch the machine to set up a skill shot before launching the
    ball. Once the ball is set into motion, the player may no longer touch the machine. If
    the ball is returned to a launcher lane that requires a manual plunge (e.g. by a ball
    saver, non-valid playfield), the player may re-plunge the ball.</p>

    <p>
      After you plunge 3 times and the playfield doesn’t validate due to a switch not being
      hit (such as on Addams Family), you must give a single flipper hit (on the fly, no
      trapping), just to hit a switch to validate the playfield and complete the extra ball.
      If the machine awards a timed bonus ball, you may play it out until the ball ends.
      Ball saves are allowed. In some cases, a machine may state “extra ball” or “shoot
      again” for a ball save; these ball saves (such as F-14 Tomcat’s Flight Insurance) are
      allowed. The simplest way to tell if a ball has ended is whether or not an end-of-ball
      bonus has been awarded.
    </p>

    <p>
      Players should be aware of whether they have earned an extra ball and not walk
      away from a machine until it has been plunged. ​If the next player plunges the
      previous player’s ball there is no penalty for that player. They should allow the ball
      to drain as soon as the mistake is recognized.
    </p>

    <h4>3.6 Replays and Specials</h4>

    <p>
      No award is given for credits earned by replays or specials during league play. If a
      machine awards extra balls for replays or specials, they are plunged. ​ Groups
      should “feed the bird” with the appropriate number of tokens if there are credits on
      the machine at the start of the game.
    </p>

    <h4>3.7 Machine Malfunctions</h4>

    <p>
      The club has adopted the PAPA/IFPA rules on malfunctions, which can be viewed
      <a href="https://www.ifpapinball.com/rules/"> here in all their glory</a>. However, due to the
      limitations that Club Officials have in regard to machine maintenance and upkeep,
      these following rules may be adapted to reasonably allow continuation of play without providing undue competitive advantage (such that it would reduce the
      enjoyment for other players).
    </p>
  </div>

  <div class="box">
    <h3>​4.0 Bad Stuff / Player errors</h3>
    <p>A player error is any player action, purposeful or accidental, which affects the
normal play or outcome of a game in progress.</p>

    <h4>​​4.1 Playing an Extra Ball</h4>
    <p>Club rules allow players to play one extra ball per game. Do not step away from the
game if you have an extra ball. If the next player plunges your ball, by mistake, there
is no penalty for them and no compensation for you. The player should drain their
opponent’s ball as soon as mistake is realized.</p>

    <h4>4.2 Playing an Opponent&#39;s Ball</h4>

    <p>
      If you play someone else’s ball (other than extra ball) you will receive 0 points for
      the game. Attempt to trap the ball as soon as possible.
    </p>

    <p>
      The correct player may choose one of two options: continue playing the ball (if
      control can be recovered), or drain the ball and play an additional ball, either
      through an extra ball or in a new game.
    </p>

    <h4>4.3 Interference</h4>

    <p>
      Interference includes (but isn&#39;t limited to) tilting an opponent&#39;s ball or nudging the
      machine during another player&#39;s ball. It also includes intentional distraction of a
      player during his play. ​
    </p>

    <p>
      Talking to or coaching of any player at the machine during a game, in any round, is
      not allowed. Informing a player that there are too many or too few games entered
      into the machine will not be penalized as coaching. ​
    </p>

    <p>
      If a player interferes with another player, causing a drain and/or loss of turn, the
      active player will be awarded an extra ball at the conclusion of the game.
      Intentional interference is a serious violation of league play rules and repeated fouls
      could result in expulsion from the league.​
    </p>

    <p>
      Accidental interference is regrettable but can happen. Any player or non-player who
      accidentally interferes with the play of any league game will be warned. If the
      interference was sufficient to cause the loss of ball, this will be treated as a major
      malfunction. If the interference terminated play for all players (for example, tripping
      over a power cord and pulling it from the wall), the game will be restarted.
    </p>

    <p>
      Club Officials will be the sole determiners of what constitutes interference and
      whether or not it is accidental or deliberate.
    </p>

    <h4>​4.4 Slam Tilts / Overly Aggressive Tilting</h4>

    <p>
      A slam tilt is caused by an aggressive and excessive shove of the machine, or by an
      attempted bang back or death save, and is considered illegal. The offending player
      will receive a zero score for that game. For other players whose games are
      incomplete, the game will be replayed.
    </p>

    <h4>​4.5 Not Starting the Proper Number of Players</h4>

    <p>
      If too many games are started inadvertently, balls for the extra games are plunged
      but not played. If too few games are started, additional games are started, if
      possible, so that the number of games on the machine matches the number of
      players in the group. If the proper number of games cannot be started by the above
      means for some reason, the players on the machine must complete their entire
      game, at which time the remaining players will play their entire game.
    </p>

    <h4>​4.6 Death Saves and Bang Backs</h4>

    <p>
      Techniques known as “Death saves” and “Bang backs” are sometimes employed by
      certain advanced players. Because of the effectiveness of these techniques varies
      from machine to machine, and because of the risk of injury to player or damage to
      the machine, these techniques are banned from play. In the event that a drained ball
      bounces back into play without deliberate player action, such as in the case of a
      “lazarus”, this is considered the mechanical nature of pinball and the ball may be
      played.
    </p>

    <h4>4.7 Cheating</h4>

    <p>
      Pinball can often be frustrating, especially during competition. Violation of any rules
      with the clear intent of preventing another player from fairly playing the machine or
      of unfairly increasing one&#39;s own score can only be described as cheating and is not
      tolerated. The penalty for cheating will be determined by Club Officials based on the
      severity of the offense.
    </p>

    <h4>4.9 Waiting Your Turn</h4>

    <p>
      When playing at an arcade / barcade / or other commercial location, league players
      DO NOT take precedence over other customers. If they are playing a game we do
      not have the right to kick them off. Simply wait (within reason) or pick a new game.
    </p>

    <h4>​4.10 Serious Violations of League Rules</h4>

    <p>
    Serious violations such as slam tilts, interference, and other “bad stuff” listed above
    are cumulative over an entire season, not just one match. For these violations, the
    following penalties are assessed:
    </p>

    <p>
      First and second offense: Forfeit the current game with a machine score of zero. ​
      If the violator&#39;s group does not have a game in progress, this penalty will be
      assessed against the game of the current match for which the violator has the
      highest league points. If there is more than one such game, the last such game of the
      match will be penalized.
    </p>

    <p>
      Third offense: Forfeit of all games in the session with machine scores of zero. ​
      Behavior which causes a player to be ejected from the location hosting any league
      session will be penalized as an automatic third offense, even if it occurs before or
      after league play.
    </p>

    <p>
      Fourth offense: Forfeit of season. The player&#39;s scores are wiped, and the player will
      be suspended from the league for the season.
      Violence of any kind against fellow players, theft, and vandalism of pinball machines
      or other property will be penalized as an automatic fourth offense.​
    </p>

</div>

  <div class="box">
    <h3>​5.0 Scoring</h3>
    <p>
      It is each player&#39;s responsibility to be sure that the machine name and earned points
      are correctly recorded on the score sheet.
    </p>

    <h4>​​5.1 Player Groups and Group Selection</h4>

    <p>
      All players who are in attendance at league start time will be randomly assigned to
      3- and 4-player groups. A 5-player group will not be used unless there are exactly
      five players.
    </p>

    <p>
      Ideally, all groups will have 4 players. When the number of players is not a multiple
      of 4, one through three 3-player groups will be assigned. For example, if there are
      15 players, the group sizes will be 4, 4, 4, and 3. If there are 17 players, the group
      sizes will be 4, 4, 3, 3, and 3. When assigning players to groups, 4-player groups will
      be assigned first.
    </p>

    <p>
      Groups will be assigned randomly.
    </p>

    <h4>​5.2 Game Selection and Play Order</h4>

    <p>
      The first player assigned in each group gets first choice of “game or position.” They
      can choose which machine will be played or the order in which they will play.
      The next player assigned in the group gets second choice and so on.
    </p>

    <p>
      After the first game, order is based on reverse finishing order of the game just
      completed.
    </p>

    <p>
      If the location has four or more machines, a machine may not be chosen twice in the
      same group.
    </p>

    <h4>5.3 Group Scoring</h4>

    <p>
      In each game, a player scores points for their finish against their opponents. The
      winner of a game gets 7 points, and last place gets 1 point. Specific points available
      depend on the size of the group: ​
    </p>

    <p>3-player group:</p>
    <ul>
      <li>
        <p>1st = 7 points</p>
      </li>
      <li>
        <p>2nd = 4 points</p>
      </li>
      <li>
        <p>3rd = 1 points</p>
      </li>
    </ul>

    <p>4-player group:</p>
    <ul>
      <li>
        <p>1st = 7 points</p>
      </li>
      <li>
        <p>2nd = 5 points</p>
      </li>
      <li>
        <p>3rd = 3 points</p>
      </li>
      <li>
        <p>4th = 1 points</p>
      </li>
    </ul>

    <p>5-player group (rare)</p>
    <ul>
      <li>
        <p>1st = 7 points</p>
      </li>
      <li>
        <p>2nd = 5 points</p>
      </li>
      <li>
        <p>3rd = 4 points</p>
      </li>
      <li>
        <p>4th = 3 points</p>
      </li>
      <li>
        <p>5th = 1 points</p>
      </li>
    </ul>

    <p>
      ​The maximum number of points a player can earn in a session is 28.
    </p>

    <h4>5.4 Ties</h4>

    <p>
      In the rare case where two or more players have tied for machine score, a one ball
      match will be played on the same machine to break the tie. If after one ball there is
      still a tie another ball will be played.
    </p>

    <h4>​5.5 League Standings and Dropped Scores</h4>

    <p>
      Each player’s total weekly points are added to their season total every week. All
      players will have their lowest two scores from the season dropped from their final
      standings, this is the adjusted score. The adjusted score is what determines your
      overall league standing.
    </p>

    <p>League standings will be updated and posted each week.</p>

  </div>

    <div class="box">
      <h3>​6.0 Finals Qualifications / Finals</h3>
      <p>​Each player must play at least 2 weekly sessions in order to qualify for finals.</p>
      <h4>​6.1 Finals Format</h4>
      <p>
        Finals will be played as a 5-strike progressive strikes format. Groups of 4 players
        will be formed based on seeding determined by the final league standings. Highest
        seed player in each group will have first choice (game or position) for the first game.
        Thereafter, choice will be granted in reverse finishing order (1 st place chooses last).
        First place will receive 0 strikes, last place will receive 2 strikes, any players in
        between will receive 1 strike. After receiving 5-strikes, a player is eliminated from A
        division. Groups will be redrawn after each round in a Swiss grouping method.
        At the end of the 5 th round of play, any eliminated players will begin the B division
        format, which will follow a similar format, but for 3-strikes.
      </p>

      <h4>6.2 Ties in Finals Qualification</h4>
      <p>
        If a tie in total adjusted league points would determine either eligibility for or
        seeding in finals, these ties will be broken based on each player’s best weeks. The
        tie is first broken by the player’s highest single week score. If the tie is still
        unresolved, the next tiebreaker will be the next highest single week score, and so on.
        If a tie still exists for finals eligibility, a single randomly-chosen game will be played
        to break the tie.
      </p>

      <p>
        If there is a tie that affects only seeding in a division, the tie is first broken by the
        player’s highest single week score. If the tie is still unresolved, the next tiebreaker
        will be the next highest single week score, and so on. If a tie still exists, a dice roll
        with the higher numbers will be the higher seeds.
      </p>

      <h4>6.3 Tardy to Finals</h4>

      <p>
        Tardy players (who already informed admins of their lateness), will have all balls in
        their games plunged until they arrive. They will not be able re-join their round until
        the start of a new game. They cannot participate in a game if Player 1’s Ball 1 has
        been plunged.
      </p>

      <h4>6.4 Practice</h4>

      <p>Once you are assigned to a group, there will be no further practice on games.</p>
    </div>

    <div class="box">
      <h3>​7.0 Dues and Other Stuff</h3>
      <h4>​7.1 League Dues</h4>
      <p>
        League dues are $20 per season. 100%of league dues are used to fund league fees,
        awards and swag. Club Officials collect dues from players. All dues must be paid
        before participating in finals.
      </p>
    </div>
  </section>
</div>

<!-- Four -->
<div class="wrapper style4">
  <section id="contact" class="container 75%">
    <header class="major">
      <h2>Contact</h2>
    </header>
    <div class="box">
      <p>Write to us at <a mailto="info@phillypinball.club">info@phillypinball.club</a> or subscribe to our mailing list below.</p>
      <p>Signing up for our mailing list is the best way to keep posted on all PPC activities. We send out announcements, updates, and league night reminders throughout each season.</p>
        <div id="mc_embed_signup" class="mailing-list">
          <form action="//club.us15.list-manage.com/subscribe/post?u=ee08a1a259e16060e6f94ef95&amp;id=74d1a74996" method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" class="validate" target="_blank" novalidate>
              <div id="mc_embed_signup_scroll">
            <h3>Subscribe to our mailing list</h3>

          <div class="mc-field-group">
            <label for="mce-EMAIL">Email Address  <span class="asterisk">*</span>
          </label>
            <input type="email" value="" name="EMAIL" class="required email" id="mce-EMAIL">
          </div>
          <div class="mc-field-group">
            <label for="mce-FNAME">First Name </label>
            <input type="text" value="" name="FNAME" class="" id="mce-FNAME">
          </div>
          <div class="mc-field-group">
            <label for="mce-LNAME">Last Name </label>
            <input type="text" value="" name="LNAME" class="" id="mce-LNAME">
          </div>
          <div class="indicates-required" style="float:right;"><span class="asterisk">*</span> indicates required</div>
            <div id="mce-responses" class="clear">
              <div class="response" id="mce-error-response" style="display:none"></div>
              <div class="response" id="mce-success-response" style="display:none"></div>
            </div>    <!-- real people should not fill this in and expect good things - do not remove this or risk form bot signups-->
              <div style="position: absolute; left: -5000px;" aria-hidden="true"><input type="text" name="b_ee08a1a259e16060e6f94ef95_74d1a74996" tabindex="-1" value=""></div>
              <div class="clear"><input type="submit" value="Subscribe" name="subscribe" id="mc-embedded-subscribe" class="button"></div>
              </div>
          </form>
        </div>

    </div>
  </section>
</div>
